@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    background-color: #653A61;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center center;
   /* background-blend-mode: overlay; */
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-size: 7em;
    font-weight: 600;
    font-family: "Permanent Marker";
    color: #fff;
    margin-bottom: .25em;
    text-shadow: 0 3px 20px rgba(0,0,0,0.5);
}

#search {
    width: 100%;
    height: 100vh;
    background-color:#472159;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #472159;
    border: solid 0px #472159;
    font-family: "Roboto Mono";
    font-size: 4rem;
    color: #f2f2f2;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #272727;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    color: #fff;
    text-align: center;
}
.inline {
    display: inline-block;
}

.attribution{
  font-size: 0.9em;
  color: #626262;
}
.attribution a{
  color: #778D95;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #5eb6e0;
    background-color: rgba(34, 34, 34, 0.47);
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 25em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: auto;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #06dbff;
    display:block;
    margin: .5em 0em;
}
.bookmark:hover {
    color: #fff;
}
